
directory = /home/media/torrent
session   = /home/media/torrent/session

port_range = 59222-59222
encryption = allow_incoming,try_outgoing,enable_retry

download_rate = 100
upload_rate = 20

max_open_sockets = 80
min_peers = 3
max_peers_seed = 4
max_peers = 20
max_uploads = 2
max_uploads_global = 5

