
port_range = 59222-59222
encryption = allow_incoming,try_outgoing,enable_retry

max_open_sockets = 80

max_uploads_global = 4
min_peers = 3
max_peers_seed = 4
max_peers = 20

download_rate = 24
upload_rate = 6

schedule = 1,02:00:00,0,download_rate=50
schedule = 1,02:00:00,0,upload_rate=9

schedule = 1,07:00:00,0,download_rate=24
schedule = 1,07:00:00,0,upload_rate=6

directory = /home/media/torrent
session   = /home/media/torrent/session

